@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #ff8901;
  --color-secondary: #fb923c;
}

:root {
   --color-bg: #ffffff;
  --color-text: #1f2937;
}

.dark {
  --color-bg: #0f172a;
  --color-text: #f1f5f9;
}

